$bg-color: #ffffff;
$bg-color-blue: #81b3d2;
$bg-color-grey: #eeeeee;
$bg-color-footer: #fefefe;
$font-color-primary: #000000;
$font-color-secondary: #ffffff;
$font-family: "PT Sans", "Arial", sans-serif;
