$bg-color: #ffffff;
$bg-color-blue: #81b3d2;
$bg-color-grey: #eeeeee;
$bg-color-footer: #fefefe;
$tablet-widths: "(min-width: 768px)";
$desktop-widths: "(min-width: 1200px)";
$mobile-widths-only: "(max-width: 767px)";
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
$font-color-primary: #000000;
$font-color-secondary: #ffffff;
$font-family: "PT Sans", "Arial", sans-serif;

$page-header-bg: #ffffff;

$main-nav-item-bg: #81b3d2;
$main-nav-item-tablet: #ffffff;
$main-nav-item-bg-hover: #669ec0;
$main-nav-item-bg-hover-tablet: #ffffff;
$main-nav-item-border-bottom: #678fa8;
$main-nav-item-border-top: #9ac2db;
$main-nav-link: #ffffff;
$main-nav-link-hover-tablet: #81b3d2;
$main-nav-link-active-tablet: #766357;
$main-nav-link-active-hover-tablet: #604e43;
$main-nav-toggle-bg: #ffffff;
$main-nav-toggle: #81b3d2;

$reason-item-blue: #ffffff;
$reason-item-blue-bg: #81b3d2;
$reason-item-gray: #000000;
$reason-item-gray-bg: #eeeeee;
$reason-item-gray-element: #cccccc;
$reason-item-triangle: #81b3d2;
$reason-img-bg: #ffffff;

$interested-btn: #ffffff;
$interested-btn-active: rgba(255, 255, 255, 0.3);
$interested-btn-bg: #81b3d2;
$interested-btn-bg-hover: #669ec0;

$socials-link-bg: #81b3d2;
$socials-link-bg-hover: #669ec0;
$socials-link-bg-active: #5496bd;

$gallery-item-border-bottom: #e5e5e5;
$gallery-item-bg-tablet: #f2f2f2;
$gallery-item-gray-bg-tablet: #eaeaea;
$gallery-item-element-desktop: rgba(0, 0, 0, 0.3);
$gallery-photo-autor: #333333;
$gallery-photo-title-desktop: #ffffff;
$gallery-photo-author-desktop: #ffffff;
$gallery-likes-desktop: #ffffff;

$form-group-border-bottom: #e5e5e5;
$form-group-title-element-tablet: #e5e5e5;
$input-type-text: #000000;
$input-type-text-bg: #f2f2f2;
$input-type-tel: #000000;
$input-type-tel-bg: #f2f2f2;
$input-type-email: #000000;
$input-type-email-bg: #f2f2f2;
$input-hover-bg: #e5e5e5;
$input-focus-bg: #ffffff;
$input-focus-border: #e5e5e5;
$form-group-label-element: #fefefe;
$form-group-label-element-bg: #f2f2f2;
$form-group-label-element-bg-hover: #e5e5e5;
$form-group-label-element-bg-active: #d5d5d5;
$input-type-radio-element-bg: #333333;
$input-type-checkbox-element-border: #333333;
$textarea-bg: #f2f2f2;
$textarea-bg-focus: #ffffff;
$textarea-placeholder: #000000;
$textarea-border-focus: #e5e5e5;
$input-type-submit: #ffffff;
$input-type-submit-bg: #81b3d2;
$input-type-submit-bg-hover: #669ec0;
$input-type-submit-active: rgba(255, 255, 255, 0.3);

$leave-border-bottom: #e5e5e5;
