.page-footer {
  @include container-fluid();
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 20px;
}

@media #{$tablet-widths} {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media #{$desktop-widths} {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    box-shadow: none;
  }
}
