.socials__list {
  list-style-type: none;
  font-size: 0;
  padding: 0;
  margin-bottom: 40px;
}

.socials__item {
  display: inline-block;
  margin-right: 6px;
  width: 46px;
  height: 48px;
}

.socials__link {
  display: block;
  width: 46px;
  height: 48px;
  background-color: $socials-link-bg;
}

.socials__link:hover {
  background-color: $socials-link-bg-hover;
}

.socials__link:active {
  background-color: $socials-link-bg-active;
}

.socials__link--fb {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon-facebook.svg");
}

.socials__link--tw {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon-twitter.svg");
}

.socials__link--youtube {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icon-youtube.svg");
}

@media #{$tablet-widths} {
  .socials__list {
    margin-bottom: 0;
  }
}
